.highlight{
    display: inline-block;
    border: 1px solid #9A783F;
    padding: 6px;
    border-radius: 8px;
    background-color:transparent;
    margin-right: 6px;
    font-family: montserratBold;
    margin-top: 0px;
    margin-bottom: 5px;
    color: #4B453D;
    font-size: 12px;
    user-select: none;
    letter-spacing: 0.5px;
}

#KeyHighlightsArea{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-shrink: 1;
    max-width: 400px;
}