#tailContainer {
  background-color: #eadcc7;
  padding-top: 20px;
}

.tailHead {
  letter-spacing: 1.25px;
  font-size: 30px;
  font-family: merriweatherBold;
  text-align: center;
  padding-top: 10px;
}

.boldM {
  font-family: montserratEBold;
  text-decoration: underline;
}
