<div class="row" id="tailContainer">
  <div class="col-4" style="border-right: 3px solid #979797;">
    <p class="tailHead">Colophon</p>

    <div
      style="
        flex-direction: column;
        display: flex;
        align-items: flex-end;
        font-family: montserrat;
      "
    >
      <p>Code: <b class="boldM">Viswa</b></p>
      <p>Project Guide:<b class="boldM"> Prof.Ravi Pooviah</b></p>
      <p>Project Co-Guide: <b class="boldM">Prof. Venkatesh Rajamanickam</b></p>
      <p><b class="boldM">(Information Design Lab at IDC)</b></p>
      <p>Deisgn:<b class="boldM">Bhawna</b></p>
      <p>Built at <b class="boldM">IDC School of Deisgn, IIT Bombay</b></p>
    </div>
  </div>
  <div class="col-4" style="border-right: 3px solid #979797;">
    <p class="tailHead">Sources</p>
    <div
      style="
        text-align: center;
        font-family: montserrat;
        letter-spacing: 0.5px;
        color: #000000;
      "
    >
      <p>
        The major source of data is the book ‘An era of Darkness’ <br />
        written by Shashi Tharoor.
      </p>

      <p style="font-family: montserratSBold; color: #4b453d;">
        Data extracted from the book
      </p>

      <p>
        - Chronological order of historical events <br />
        - People included in those events <br />
        - Places where it happened <br />
      </p>

      <p style="font-family: montserratSBold; color: #4b453d;">
        Other information source
      </p>

      <p>
        Information like images of event and people are taken from <br />
        different sites which is compiled together here.
      </p>
    </div>
  </div>
  <div class="col-4">
    <p class="tailHead">More Information</p>

    <div
      style="
        font-family: montserratSBold;
        color: #4b453d;
        letter-spacing: 0.5px;
      "
    >
      <p>All raw data (CSV files) can be downloaded <b> here.</b></p>
      <p>Find the project report <b>here.</b></p>
    </div>
  </div>
</div>
