<div class="row" id="tailContainer">
  <div
    class="col-4"
    style="border-right: 2px solid #979797; padding-right: 60px;"
  >
    <p class="tailHead" style="text-align: right;">Colophon</p>

    <div
      style="
        flex-direction: column;
        display: flex;
        align-items: flex-end;
        font-family: montserrat;
      "
    >
      <p>
        Code:
        <b class="boldM"> <a href="https://bit.ly/2Z6jUhv"> Viswa</a></b>
      </p>
      <p>
        Project Guide:<b class="boldM">
          <a href="http://www.idc.iitb.ac.in/ravi/"> Prof.Ravi Pooviah</a></b
        >
      </p>
      <p>
        Project Co-Guide:
        <b class="boldM">
          <a href="http://www.idc.iitb.ac.in/venkat/index.html">
            Prof. Venkatesh Rajamanickam</a
          ></b
        >
      </p>
      <p>
        <b class="boldM">
          <a href="https://info-design-lab.github.io/">
            (Information Design Lab at IDC)</a
          ></b
        >
      </p>
      <p>
        Deisgn:<b class="boldM">
          <a href="https://www.behance.net/sonibhawna">Bhawna</a>
        </b>
      </p>
      <p>
        Built at
        <b class="boldM">
          <a href="http://www.idc.iitb.ac.in/">
            IDC School of Deisgn, IIT Bombay</a
          ></b
        >
      </p>
    </div>
  </div>
  <div class="col-4" style="border-right: 2px solid #979797;">
    <p class="tailHead">Sources</p>
    <div
      style="
        text-align: center;
        font-family: montserrat;
        letter-spacing: 0.5px;
        color: #000000;
      "
    >
      <p>
        The major source of data is the book ‘An era of Darkness’ <br />
        written by Shashi Tharoor.
      </p>

      <p
        style="
          font-family: montserratSBold;
          color: #4b453d;
          text-decoration: underline;
        "
      >
        <a
          href="https://drive.google.com/drive/folders/1s-xLbol_whfD_iQjQHS7aP2lZ0we2agP?usp=sharing"
        >
          Data extracted from the book
        </a>
      </p>

      <p>
        - Chronological order of historical events <br />
        - People included in those events <br />
        - Places where it happened <br />
      </p>

      <p
        style="
          font-family: montserratSBold;
          color: #4b453d;
          text-decoration: underline;
        "
      >
        <a
          href="https://drive.google.com/drive/folders/1G4YjyxYvYQoBhzVmFFNO1W_ys-lpjcV3?usp=sharing"
        >
          Other information source</a
        >
      </p>

      <p>
        Information like images of event and people are taken from <br />
        different sites which is compiled together here.
      </p>
    </div>
  </div>
  <div class="col-4" style="padding-left: 40px;">
    <p class="tailHead" style="text-align: left;">
      More Information
    </p>

    <div
      style="
        font-family: montserratSBold;
        color: #4b453d;
        letter-spacing: 0.5px;
      "
    >
      <p>
        All raw data (CSV files) can be downloaded <b> <a href="https://drive.google.com/drive/folders/1zzLdlk9fq1PpP82Ix9nRul8Z9abiorGI?usp=sharing"> here.</a></b>
      </p>
      <p>
        Find the project report <b> <a href="https://drive.google.com/file/d/1VW2Z-dgKvYer69eekbNAGA9fP66hxGbF/view?usp=sharing"> here.</a></b>
      </p>
    </div>
  </div>
</div>
