<div id="introContainer" class="row">
  <div
    class="col-4"
    style="padding-right: 50px; border-right: 1px solid #594e47;"
  >
    <div id="infoText">
      Information <br />
      visualisation on ‘An <br />
      Era of Darkenss’
    </div>

    <div class="row" style="margin-bottom: 10px;">
      <div class="col-3" id="eraDateContainer">
        <p>7 June 2020</p>
        <h6>India</h6>
      </div>
      <div class="col-9" id="eraInfoText" style="letter-spacing: 1.5px;">
        The visualisation is trying to 
        put together major historical 
        events, describing the loss of  
        200 years of India.
      </div>
    </div>

    <div class="row" id="eraInfoParagraph">
      ‘An Era of Darkness’ book is taken as the major source of information. It
      starts the journey with an introduction to Shashi Tharoor’s speech.

      <br /><br />
      Further sections will cover, ‘after messy life and impact on India’,
      ‘major historical events responsible for the loss’, people from past
      involved in those events and places of the event which together shows the
      story how deeply it was rooted.
      <br /><br />
      It also gives the detailed chronology of the historical events happened
      one after other or events happening at the same time, mentioned in the
      book.
      <br /><br />
      The visualisation conclude with a speech to book comparison of Shashi
      Tharoor.
    </div>
  </div>
  <div class="col-8">
    <div id="whySection">
      <h2>
        Why British owe India a reparation?
      </h2>
      <p id="debateSubHeaading">Debate at Oxford UNION by Dr. Shashi Tharoor</p>

      <div class="row">
        <div class="col-5">
          <div class="row">
            <div class="col-3" id="debateDateContainer">
              <p>May 2015</p>
              <h6>England</h6>
            </div>
            <div class="col-9 debateDetails" style="padding-right: 0px;margin-bottom: 10px;">
              The rule of 200 years gave a financial rise to Britain by
              depredation of India through all means of subjugating and seizing
              power, trading in silk, spices other profitable Indian
              commodities.
              <br />
            </div>
          </div>

          <div class="row debateDetails">
            At Oxford Union on ‘Does Britain owes India a reparation’, Shashi
            Tharoor as a speaker spoke in favour of the topic. This winning
            debate got viral as soon as he twitted the link. The important
            insight he came up with was that even most of the educated people
            were also not aware of the loot which happened during the time of
            British Raj.
            <br />
            <br />
            <h6>The reason for the book.</h6>
            “I thought the arguments I was making were so basic that they
            constituted what Americans would call ‘Indian Nationalism 101’ --
            the fundamental, foundational arguments that justified the Indian
            struggle for freedom.” - Shashi Tharoor
          </div>
        </div>

        <div class="col-7" style="padding-right: 0px;">
          <iframe
            width="550"
            height="400"
            scrolling="no"
            frameborder="0"
            [src]="safeURL"
          >
          </iframe>
        </div>
      </div>
    </div>
  </div>
</div>
