<div id="impactContainer">
  <div class="row">
    <div class="col-4" id="impactHead">
      Impact of British <br />
      Rule on India
    </div>
    <div class="col-8">
      <div class="row">
        <div class="col-2" id="impactDate">
          <p>7 June 2020</p>
          <h5>India</h5>
        </div>
        <div class="col-10">
          <p id="impactSubHead">
            What India was left with? An aftermessy life…
          </p>
          <p id="impactContent">
            At the beginning of the eighteenth century, as the British historian
            Angus Maddison has demonstrated, India’s share of <br />
            the world economy was 23 per cent, as large as all of Europe put
            together. By the time the British departed India, it had <br />
            dropped to just over 3 per cent. The reason was simple: India was
            governed for the benefit of Britain. Britain’s rise for <br />
            200 years was financed by its depredations in India.
          </p>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-1">
      <p class="impactGraphHead">Years</p>
      <div id="yearIndicator">
        <p (click)="toggleState()">
          <span *ngIf="graphState == 'pause'"
            ><img
              src="../../assets/images/play.png"
              height="45"
              width="45"
              style="cursor: pointer;"
          /></span>
          <span *ngIf="graphState == 'play'"
            ><img
              src="../../assets/images/pause.png"
              height="45"
              width="45"
              style="cursor: pointer;"
          /></span>
        </p>

        <div
          *ngFor="let year of years"
          class="year"
          [ngClass]="{ yearHighlight: isHighlight(year) }"
          (click)="showSingleYear(year)"
        >
          {{ year }}
        </div>
      </div>
    </div>
    <div class="col-7">
      <p class="impactGraphHead">
        Decline of economy with respect to population
      </p>
      <div id="graphEconomy">
        <app-economy-population
          [currentYear]="yearIndex"
        ></app-economy-population>
        <img src="../../assets/images/legendImpact.png" width="450" height="60">
      </div>
    </div>
    <div class="col-4" id="mapData">
      <p class="impactGraphHead">Rule on India by East India Company</p>
      <img src="{{ yearImage }}" alt="loading" width="420" height="534" />
      <img src="../../assets/images/legendMap.png" width="380" height="60" /> 
    </div>
  </div>
</div>
