<div id="eventsContainer">
  <div class="row">
    <!-- <div class="col-4" id="eventHead">
      People, places & <br />
      historical events
    </div>
    -->
    <div
      class="col-4"
      style="
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      "
    >
      <div id="headWrapper">
        <div id="impactHead">
          People, places & <br />
          historical events
        </div>
      </div>
    </div>

    <div class="col-8">
      <div class="row">
        <div class="col-2" id="eventDate">
          <p>1600 - 1947</p>
          <h5>India</h5>
        </div>
        <div class="col-10">
          <p id="eventSubHead">
            What India was left with? An aftermessy life…
          </p>
          <p id="eventContent">
            It all began with the East India Company, incorporated by royal
            charter from Her Majesty Queen Elizabeth I in 1600 to <br />
            trade in silk and spices, and other profitable Indian commodities.
            Ended with partition of India in different states as <br />
            India , Pakistan, Bangladesh. This part of visualisation shows a
            chronological order of how famous people (Britishers & <br />
            Indian) of British Raj were part of the rule? How the whole world
            was part of the rule? And how stratigically the events <br />
            took place which lead to this decline?
          </p>
        </div>
      </div>
    </div>
  </div>

  <br />
  <br />

  <div class="row">
    <div
      class="col-2"
      style="
        border-right: 2px solid #9e9383;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
      "
    >
      <p id="yearsText">Years</p>
      <div id="timeline">
        <app-event-timeline
          (changeTime)="updateContent($event)"
        ></app-event-timeline>
      </div>
    </div>
    <div
      class="col-4"
      style="
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
      "
    >
      <p id="yearsText">Key Events</p>
      <app-key-highlights
        [showHighlight]="keyHighlights"
        (INKeyHighlight)="updatePeoplPlacesIN($event)"
        (OUTKeyHighlight)="updatePeoplPlacesOUT()"
      ></app-key-highlights>
    </div>
    <div
      class="col-6"
      style="
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 8px;
        padding-right: 0px;
      "
    >
      <div [ngClass]="{ hide: !isPeople }">
        <p
          id="yearsText"
          style="
            text-align: center;
            align-self: center;
            margin-bottom: 0px !important;
          "
        >
          People and Places
        </p>
        <app-peoples-map-boxed
          (INpersonHighlight)="updateHighlightsPersonIN($event)"
          (OUTpersonHighlight)="updateHighlightsPersonOUT($event)"
          [peopleImages]="peopleImages"
        ></app-peoples-map-boxed>
        <div style="position: relative;">
          <div
            style="
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              margin-left: 10px;
              margin-top: 10px;
              position: absolute;
            "
          >
            <img
              src="../../assets/images/plus.png"
              height="30"
              weight="30"
              style="
                cursor: pointer;
                box-shadow: 0px 0px 22px rgba(154, 120, 63, 0.991989);
                border-radius: 50%;
                margin-right: 10px;
              "
              (click)="zoomInMap()"
            />
            <img
              src="../../assets/images/minus.png"
              height="30"
              weight="30"
              style="
                cursor: pointer;
                box-shadow: 0px 0px 22px rgba(154, 120, 63, 0.991989);
                border-radius: 50%;
              "
              (click)="zoomOutMap()"
            />
          </div>
          <app-world-highlights
            [placesToHighlight]="placesToHighlight"
            (INplaceHighlight)="updateHighlightsPlaceIN($event)"
            (OUTplaceHighlight)="updateHighlightsPlaceOUT($event)"
            [zoomLevel]="zoom"
          >
          </app-world-highlights>
        </div>
      </div>

      <div [ngClass]="{ hide: isPeople }">
        <p id="yearsText" style="text-align: center; align-self: center;">
          Historical Events
        </p>
        <div style="overflow-y: scroll; max-height: 700px; overflow-x: hidden;">
          <app-historical-events
            [events]="historicalEvents"
            [hevents]="HEvents"
            [eventNames]="eventNames"
          ></app-historical-events>
        </div>
      </div>

      <img
        *ngIf="isPeople"
        src="../../assets/images/down.png"
        height="50"
        weight="50"
        style="
          cursor: pointer;
          box-shadow: 0px 0px 22px rgba(154, 120, 63, 0.991989);
          border-radius: 50%;
        "
        (click)="toggleContent()"
      />
      <img
        *ngIf="!isPeople"
        src="../../assets/images/up.png"
        height="50"
        weight="50"
        style="
          cursor: pointer;
          box-shadow: 0px 0px 22px rgba(154, 120, 63, 0.991989);
          border-radius: 50%;
        "
        (click)="toggleContent()"
      />
    </div>
  </div>
</div>
