<app-head></app-head>

<div id="navBar" #navBar [ngClass]="{ sticky: isSticky }">
  <a
    class="navTopic"
    (click)="scrollTo('#intro')"
    [ngClass]="{ active: isDisp('intro') }"
    >Introduction</a
  >
  <a
    class="navTopic"
    (click)="scrollTo('#lootedTreasure')"
    [ngClass]="{ active: isDisp('lootedTreasure') }"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a
  >
  <a
    class="navTopic"
    (click)="scrollTo('#impacts')"
    [ngClass]="{ active: isDisp('impacts') }"
    >Impact of British Rule</a
  >
  <a class="navTopic" (click)="scrollTo('#lootedResource')"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a
  >
  <a class="navTopic" (click)="scrollTo('#events')">
    People, Places and events
  </a>
  <a class="navTopic" (click)="scrollTo('#events')">Chronology of events</a>
  <a class="navTopic" (click)="scrollTo('#rulers')"
    >Rulers and their <br />
    contribution</a
  >
  <a class="navTopic" (click)="scrollTo('#tail')"
    >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a
  >
</div>
<app-intro id="intro"></app-intro>
<app-looted-treasure id="lootedTreasure"></app-looted-treasure>
<app-impact id="impacts"></app-impact>
<app-looted-human-resource id="lootedResource"></app-looted-human-resource>
<app-places-events id="events"></app-places-events>
<app-rulers-contribution id="rulers"></app-rulers-contribution>
<app-tail id="tail"> </app-tail>
