#navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #cbbeaa;
  padding: 7px;
  padding-left: 13px;
  padding-right: 13px;
  border-bottom: 2px solid #9a783f;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  max-height: 85;
  width: 100%;
  overflow: hidden;
  z-index: 99;
}

.navTopic {
  text-align: center;
  letter-spacing: 2.66667px;
  color: #000000;
  font-size: 14px;
  padding: 3px;
  padding-left: 12px;
  padding-right: 12px;
  font-family: montserratBold;
  border: 1px solid #d9ccb9;
  box-shadow: inset 0px 0px 10px #9a783f;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.navTopic:hover {
  background-color: #2b4460;
  color: #d9ccb9;
  box-shadow: none;
}

.active {
  background-color: #2b4460;
  color: #d9ccb9;
  box-shadow: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #d9ccb9;
  opacity: 1;
  z-index: 1;
}
